infra/n8n/plane-odoo-sync.workflow.json
{
  "name": "Plane ↔ Odoo Bidirectional Sync",
  "description": "Syncs issues and tasks between Plane CE and Odoo via Supabase Edge Functions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plane-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "plane-webhook-trigger",
      "name": "Plane Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [260, 300],
      "webhookId": "plane-webhook-id"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odoo-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "odoo-webhook-trigger",
      "name": "Odoo Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [260, 500],
      "webhookId": "odoo-webhook-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/plane-sync?source=plane",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "={{ $json.event }}"
            },
            {
              "name": "data",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "forward-plane-to-supabase",
      "name": "Forward to Supabase (Plane)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/plane-sync?source=odoo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "action",
              "value": "={{ $json.method }}"
            },
            {
              "name": "data",
              "value": "={{ $json.args }}"
            }
          ]
        },
        "options": {}
      },
      "id": "forward-odoo-to-supabase",
      "name": "Forward to Supabase (Odoo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-plane-success",
      "name": "Check Plane Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-odoo-success",
      "name": "Check Odoo Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, synced: $json.target_id }) }}"
      },
      "id": "plane-success-response",
      "name": "Plane Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [940, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "plane-error-response",
      "name": "Plane Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [940, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, synced: $json.target_id }) }}"
      },
      "id": "odoo-success-response",
      "name": "Odoo Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [940, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "odoo-error-response",
      "name": "Odoo Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [940, 560]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-sync-check",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [260, 700]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/plane-sync?action=status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-sync-status",
      "name": "Check Sync Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.mappings?.filter(m => m.status === 'error').length || 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-errors",
      "name": "Has Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 700]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "⚠️ Plane-Odoo sync has {{ $json.mappings.filter(m => m.status === 'error').length }} errors",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [940, 660],
      "credentials": {
        "slackApi": {
          "id": "slack-creds",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Plane Webhook": {
      "main": [
        [
          {
            "node": "Forward to Supabase (Plane)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Webhook": {
      "main": [
        [
          {
            "node": "Forward to Supabase (Odoo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Supabase (Plane)": {
      "main": [
        [
          {
            "node": "Check Plane Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Supabase (Odoo)": {
      "main": [
        [
          {
            "node": "Check Odoo Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Plane Success": {
      "main": [
        [
          {
            "node": "Plane Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Plane Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Odoo Success": {
      "main": [
        [
          {
            "node": "Odoo Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Odoo Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sync Status": {
      "main": [
        [
          {
            "node": "Has Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Errors?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "integration",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "plane",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    },
    {
      "name": "odoo",
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
